*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.4;
    scroll-behavior: smooth;
    --bg: rgb(10 30 15);
    --fg: rgb(220 240 220);

    background-color: var(--bg);
    color: var(--fg);
}

body {
    margin: 0;
}

p {
    max-width: 40em;
}

.mbs-4 {
    margin-block-start: 5rem;
}

.mb-5 {
    margin-block: 8rem;
}
.pb-3 {
    padding-block: 4rem;
}
a {
    color: inherit;
    letter-spacing: .1em;
    font-variant: all-petite-caps;
    font-size: .8em;
}
a:focus-visible {
    outline: .1em dashed;
    outline-offset: .2em;
}

.container {
    max-width: 90rem;
    margin-inline: auto;
    padding-inline: 1rem;
    @media (min-width: 60rem) {
        padding-inline: 2rem;
    }
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-start: 4rem;
    margin-block-end: 2rem;
    min-height: calc(100dvh - 12rem);

    hgroup {
        font-size: clamp(3rem, 8vh, 6rem);
        max-width: max-content;

        h1 {
            font-size: 1em;
            line-height: 1;
            margin: 0;
            margin-inline-start: -.07em;


            em {
                font-style: normal;
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    background-color: var(--fg);
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    filter: blur(.8em);
                    top: 0;
                    background-blend-mode: hue;
                }
            }
        }

        p {
            margin: 0;
            font-size: .39em;
            font-variant: all-petite-caps;
        }
    }

    svg {
        --color: var(--fg);
        /*opacity: .8;*/
        aspect-ratio: 1/1;
        width: 100%;
        opacity: .9;
        filter: drop-shadow(0 0 1em var(--fg));
        margin-block-start: clamp(0px, 5vh, 4rem);

        .cls-2 {
            /*stroke: var(--color);*/
        }

        .cls-1, .cls-2 {
            fill: none;
        }

        path {
            fill: var(--color);
            stroke: var(--color);
            animation: fadeIn calc(pow(var(--i), 2) * 0.1s) ease-out forwards;

            &:nth-of-type(1) {
                --i: 1;
            }

            &:nth-of-type(2) {
                --i: 2;
            }

            &:nth-of-type(3) {
                --i: 3;
            }

            &:nth-of-type(4) {
                --i: 4;
            }

            &:nth-of-type(n+5) {
                --i: 5;
            }

            /*&:nth-of-type(n+6) { fill: rgb(255 100 100); }*/
        }

    }

    figure.quote {
        display: none;
        margin: 0;
        max-width: 40em;
        font-size: clamp(1rem, 4vw, 1.2rem);
        flex: 0 1 30%;

        blockquote {
            margin: 0;
            margin-block-end: 1em;
            border-inline-start: .1em solid;
            padding-inline-start: 1em;
        }

        figcaption {
            font-size: .6em;
            text-align: right;
        }
    }

    @media (min-width: 60rem) {
        flex-direction: row;
        gap: 10%;

        figure.quote {
            display: block;
        }
    }

}


nav {

    position: sticky;
    top: 0;
    z-index: 2;

    ul {
        list-style: none;
        margin: 0;
        margin-block-end: 4rem;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--fg);

        li:first-child a {
            padding-inline-start: 1.5em;
        }

        li:last-child a {
            padding-inline-end: 1.5em;
        }

        a {
            font-size: clamp(.8rem, 2vw, 1rem);
            padding: 1em 1em;
            background-color: var(--fg);
            color: var(--bg);
            text-decoration: none;
            display: block;
            position: relative;
            transition: color .3s ease-in-out, background-color .3s ease-in-out;
            font-variant: all-petite-caps;
            line-height: 1;

            &::after {
                content: '';
                aspect-ratio: 1/1;
                width: 1.2em;
                background-color: var(--bg);
                position: absolute;
                inset-block-end: -.6em;
                inset-inline-start: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                transition: background-color .3s ease-in-out .2s, transform .2s ease-in-out;
            }

            &:hover,
            &:focus-visible,
            &.active {
                outline-color: var(--fg);
                background-color: var(--bg);
                color: var(--fg);

                &::after {
                    background-color: var(--fg);
                    transform: translateX(-50%) scale(.6);
                }
            }
        }
    }

    @media (min-width: 60rem) {
        position: fixed;
        inset-inline-start: 0;
        height: 100vh;

        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: scale(-1, -1);

        ul {
            flex-direction: row-reverse;
            margin: 0;


            a::after {
                inset-block-end: -.6em;
                transform: translate(0, -50%);
            }

            a:hover,
            a:focus-visible,
            a.active {
                outline-color: var(--fg);
                background-color: var(--bg);
                color: var(--fg);

                &::after {
                    background-color: var(--fg);
                    transform: translate(0, -50%) scale(.6);
                }
            }
        }


    }
}

.container-wide {
    overflow-x: hidden;
}
main.container,
footer .container {

    @media (min-width: 60rem ) {
        padding-inline-start: 6rem;
    }
}

h2 {
    font-size: 2rem;
    line-height: 1;
    margin: 0;

    + p {
        margin-block-start: .5em;
        margin-block-end: 2em;
    }

    &:first-letter {
        font-size: 1.5em;
    }
}
h3 {
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
    margin-block-start: 2em;

    + p {
        margin-block-start: .5em;
        margin-block-end: 2em;
    }

    &:first-letter {
        font-size: 1.5em;
    }
}

main li {
    margin-block-end: 1em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.br-specialArticle {
    position: relative;
    --lines: rgb(255 255 255 / .15);
    ul {
        list-style-type: '-   ';
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -25%;
        width: 150%;
        height: 100%;
        border: 1px solid var(--lines);
        filter: blur(0px);
        pointer-events: none;
    }

    &::before {
        transform: rotate(10deg);
        margin-top: 40px;
        margin-bottom: 180px;
    }

    &::after {
        margin-top: 40px;
        transform: rotate(-10deg);

    }

    strong {
        margin-block-start: .5em;
        display: inline-block;
    }
}

.br-timeline {

    --color: hsl(135, 50%, 75%);

    h4 {
        margin-block: 0 .5em;
    }

    ul {
        list-style: none;
    }

    li {
        position: relative;
        padding-inline-start: 2em;
        margin-block: 0;
        padding-block-end: 3em;
    }

    li::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        border-left: 2px solid var(--color);
        width: auto;
        top: auto;
        background: inherit;
    }

    li::after {
        content: '';
        width: 1em;
        height: 1em;
        position: absolute;
        left: 0;
        top: .2em;
        border-radius: 50%;
        background: var(--bg);
        border: 2px solid var(--color);
        transform: translateX(-50%)
    }

    h3 {
        padding: 0;
        margin-bottom: .5em;
    }

    .br-timeline-first::before {
        top: 1em;
        height: calc(100% - 1em);
    }

    .br-timeline-last:before {
        display: none;
    }

    .br-timeline-last:after {
        background: var(--fg);
    }

    .br-timeline-long {
        height: 2em;
    }

    .br-timeline-long::before {
        border-left: 3px dotted var(--color);
    }

    .br-timeline-long::after {
        width: 0;
        border: none;
    }
}

footer {
    background-color: var(--fg);
    color: var(--bg);
    padding-block: 2rem;
}

form {
    input, button {
        border: 2px solid var(--bg);
        height: 100%;
        display: inline-block;
    }
    button {
        background-color: white;
        font-variant: all-petite-caps;
        font-size: .8em;
        letter-spacing: .1em;

    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(1em)
    }
    to {
        opacity: 1;
        filter: blur(0em)
    }
}

