:root {
    --text-color: #FFFFFF;
    --shadow-color: #000000;
    --bg-color: transparent;
    --bg: none;
}

@media (prefers-color-scheme: dark ) {
    :root {
        --bg-color: #11111a;
    }
}

html {
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--bg-color);
    background-image: var(--bg);
    background-size: cover;
    font-family: helvetica, sans-serif;
    font-variant: all-petite-caps;
}

*, *:before, *:after {
    box-sizing: border-box;
}

*:focus {
    outline: 2px dotted var(--text-color);
    outline-offset: 5px;
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    transition: background-color .2s ease-in;
}

main {
    flex: 1 1 600px;
    margin-top: min(2rem, 4vw);
    transition: color 0.2s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    text-shadow: 0px 0px 2px #000000;
    color: #FFFFFF;
    font-size: 6vw;
    line-height: 3.5rem;
    text-align: center;
    font-family: 'Anton', sans-serif;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

header > h1 > span {
    display: block;
}

header > h1 > span:nth-child(2) {
    font-size: 1.7em;
    line-height: 0.7em;
    letter-spacing: -0.05em;
}

header > h1 > span:nth-child(3) {
    font-size: 0.75em;
}

footer {
    flex: 0 0 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-top: auto;
}

footer a, footer a:visited {
    color: inherit;
    padding: 0 1em;
}

.controls {
    border: 2px solid;
    box-shadow: 1px 1px 1px var(--text-color);
    border-radius: 5px;
    margin: 0 min(2rem, 4vw);
    padding: min(2rem, 4vw);
    font-variant: all-petite-caps;
    height: 30em;
    overflow: auto;
    resize: vertical;
}

.base {
    margin: 0 min(2rem, 4vw);
    padding: min(2rem, 4vw) 0 2rem;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.base #btnStripe {
    margin-right: auto;
}

input[type="range"] {
    margin-bottom: 1rem;
    width: 100%;
}

input[type=color] {
    vertical-align: middle;
}

label {
    padding-right: 1rem;
    font-size: .9em;
}

legend {
    font-weight: bold;
    margin-left: -1rem;
    padding-right: 1rem;
}

.circle {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: 0;
    border-top: 2px solid;
    padding: 2rem 0 2rem 1rem;
}

.base {
    justify-content: space-between;
}

.circle > div {
    flex-grow: 1;
    flex-basis: 200px;
}

.circle:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

button {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid;
    border-radius: 4px;
    color: var(--text-color);
    padding: .8em 1.6em;
    font-variant: all-small-caps;
}

button.small {
    margin-top: 2em;
    display: block;
    margin-left: auto;
}

.small {
    font-size: .8em;
}

button:hover,
button:focus {
    background: rgba(255, 255, 255, 0.4);
}

.css {
    margin: 2rem min(2rem, 4vw);
}

textarea {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 1rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
    min-height: 8rem;
    resize: vertical;
}
