*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    font-size: 120%;
    --bg: oklch(.2131 .0394 150.05);
    --fg: oklch(.9349 .034 145.3);

    background-color: var(--bg);
    color: var(--fg);

    &.theme-blog {
        --bg: oklch(.1672 .0378 274.45);
    }
}

body {
    margin: 0;
}

p {
    max-inline-size: 40em;
}

a {
    color: inherit;
    letter-spacing: .1em;
    font-variant: all-petite-caps;
    font-size: .8em;

    &:focus-visible {
        outline: .1em dashed;
        outline-offset: .2em;
    }
}

:is(h1, h2, h3, h4, h5, h6) a {
    font-size: inherit;
    font-variant: inherit;
    letter-spacing: inherit;
    text-decoration-thickness: .04em;
    text-underline-offset: .15em;
}

h2 {
    font-size: 2rem;
    line-height: 1;
    margin: 0;

    & + p {
        margin-block: .5em 2em;
    }

    &::first-letter {
        font-size: 1.5em;
    }
}

h3 {
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
    margin-block-start: 2em;

    & + p {
        margin-block: .5em 2em;
    }

    &::first-letter {
        font-size: 1.5em;
    }
}

main li {
    margin-block-end: 1em;
}

.container {
    max-inline-size: 90rem;
    margin-inline: auto;
    padding-inline: 1rem;

    @media (min-width: 60rem) {
        padding-inline: 2rem;
    }
}

main.container,
footer .container {
    @media (min-width: 60rem) {
        padding-inline-start: 6rem;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.post-meta {
    font-variant: all-petite-caps;
    letter-spacing: .1em;
    opacity: .75;
    margin-block: .5em 1.5em;

    a {
        font-size: 1em;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: .8rem;
    font-variant: all-petite-caps;
    letter-spacing: .1em;

    li {
        border: 1px solid var(--fg);
        border-radius: 2em;
        padding-block: .1em;
        padding-inline: .9em;
        line-height: 1.6;
        opacity: .75;
        margin-block-end: 0;
    }
}

.mbs-4 {
    margin-block-start: 5rem;
}

.mb-5 {
    margin-block: 8rem;
}

.pb-3 {
    padding-block: 4rem;
}

.pb-5 {
    padding-block: 8rem;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}
